<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <a href="/managedesignation">click here to see designations</a><br>
    <a href="/managedepartment">click here to see departments</a><br>
    <a href="/view_soldiers">click here to view soldiers</a><br>
    <a href="/department_complaint">click here to view department complaint and reply</a><br>

    
         
</body>
</html>
